BOT_NAME=
BOT_TOKEN=

DEBUG=false

TWITTERX_API_URL=

# PostgreSQL settings
POSTGRES_USER=twitterx
POSTGRES_PASSWORD=twitterx
POSTGRES_DB=twitterx
DATABASE_URL=postgres://twitterx:twitterx@postgres:5432/twitterx?sslmode=disable
